<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
<div align="center">
    <a th:href="@{/new}">Add new Student</a>
    <h2>List of the Student</h2>
    <table>
        <thead>
        <tr>
            <th>userName</th>
            <th>fullName</th>
            <th>password</th>
            <th>role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="students : ${listStudent}">
            <td th:text="${students.id}">Student UserName</td>
            <td th:text="${students.userName}">Student UserName</td>
            <td th:text="${students.fullName}">Student FullName</td>
            <td th:text="${students.password}">Student Password</td>
            <td th:text="${students.role}">Student Role</td>
            <td>
                <a th:href="@{'/edit/' + ${students.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete/' + ${students.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>