<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Student Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        .parent {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div align="center" class="container parent" >
    <h1>Create New Student</h1>
    <br/>
    <div class="col-sm-4">
        <form action="#" th:action="@{/save}" th:object="${student}" method="post">

            <div alight="left" class="form-group">
                <tr>
                    <td>
                        <input type="hidden" th:field="*{id}"/>
                        <label for="UserName">User Name</label>
                        <input th:class="form-control" id="UserName" type="text" th:field="*{userName}"
                               class="form-control" placeholder="Student Name"/>
                    </td>
                </tr>
            </div>

            <div alight="left" th:class="form-group">

                <tr>
                    <label for="FullName" class="form-label">Full Name</label>
                    <td><input th:class="form-control" id="FullName" type="text" th:field="*{fullName}"
                               class="form-control" placeholder="FullNAME"/></td>
                </tr>
            </div>
            <div alight="left" th:class="form-group">
                <tr>
                    <label for="password" class="form-label">Password</label>
                    <td><input th:class="form-control" type="password" required="true" id="password" th:field="*{password}"
                               class="form-control" placeholder="Password"/></td>
                </tr>
            </div>
            <div alight="left" th:class="form-group">
                <tr>
                    <label for="role" class="form-label">Role</label>
                    <td><input th:class="form-control" id="role" type="text" th:field="*{role}" class="form-control" placeholder="role"/></td>
                </tr>
            </div>
            <br>
            <tr>
                <td colspan="2">
                    <button class="btn btn-success" type="submit">Save</button>
                </td>
            </tr>
            </table>
        </form>

    </div>
</body>
</html>